@page
@model SeekersHub.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}

<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">About Us</h2>
                        @*<p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>*@
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-250 mx-auto">
                        Welcome to SeekersHub - Your Gateway to Career Success!
                        At SeekersHub, we're passionate about connecting ambitious students with exciting job and internship opportunities that propel them towards their career goals.
                        Whether you're seeking your first internship experience or aiming to launch your professional journey, our platform offers a dynamic hub where talent meets opportunity.
                        Discover a world of possibilities as you explore diverse industries, connect with leading companies, and unlock pathways to growth and achievement. With intuitive tools,
                        personalized recommendations, and unparalleled support, SeekersHub is your trusted partner in navigating the ever-evolving landscape of work and learning.
                        Join us today and embark on a transformative journey towards a brighter, more fulfilling future. Your dream career awaits – let's make it happen together at SeekersHub
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="/assets/imgs/page/about/img-about2.png" alt="SeekersHub"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Mission Statement</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                Our mission at SeekersHub is to empower students globally by providing access to diverse job and internship opportunities.
                                Through innovation and collaboration, we guide students towards success and fulfillment in their professional journeys, revolutionizing the way they connect with the world of work.
                                Join us as we pave the path for every student to achieve their career aspirations with confidence and purpose.ion Statement
                            </p>
                        </div>
                        <h3 class="mt-15">Vision Statement</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                SeekersHub envisions a future where students worldwide effortlessly connect with diverse job and internship opportunities,
                                empowering them to achieve their career aspirations and make meaningful contributions to society.
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-box bg-15 pt-50 pb-50 mt-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center mb-30"><img class="img-job-search mt-20" src="assets/imgs/page/homepage3/img-job-search.png" alt="SeekersHub"></div>
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                    <h2 class="mb-10">Privacy Policy</h2>
                    <div class="mb-20">
                        <p class="font-md color-text-paragraph-2">
                            At SeekersHub, we are committed to protecting your privacy and ensuring the security of your personal information.
                            This Privacy Policy outlines how we collect, use, and safeguard your data when you use our platform
                        </p>
                    </div>
                    <div class="box-checkbox mb-30">
                        <h6>How We Use Your Information</h6>
                        <p class="font-md color-text-paragraph-2">
                            We use your personal information to provide internship matching services,
                            communicate with you about internship opportunities, and improve our platform's functionality. We may also use your data for marketing purposes with your consent.
                        </p>
                    </div>
                    <div class="box-checkbox mb-30">
                        <h6>Data Security</h6>
                        <p class="font-md color-text-paragraph-2">
                            We employ industry-standard security measures to protect your personal information from unauthorized access,
                            disclosure, alteration, or destruction.
                            However, please note that no method of transmission over the internet or electronic storage is 100% secure.
                        </p>
                    </div>
                    <div class="box-checkbox mb-30">
                        <h6>Third-Party Disclosure</h6>
                        <p class="font-md color-text-paragraph-2">
                            We may share your personal information with third-party service providers, such as hosting providers and
                            analytics platforms, to assist us in operating our platform and delivering services to you.
                            We will only share your data with these parties to the extent necessary for them to perform their functions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-50 mb-30 bg-border-3 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"><img class="bdrd-10" src="/assets/imgs/page/homepage5/img-profile.png" alt="SeekersHub"></div>
                <div class="col-lg-6">
                    <div class="pl-30">                        
                        <h2 class="color-brand-1 mt-0 mb-15">Terms of Use</h2>
                        <div class="mb-20">
                            <p class="font-lg color-text-paragraph-2">
                                By accessing or using SeekersHub you agree to comply with and be bound by the following Terms of Use.
                                If you do not agree to these terms, you may not use our platform.
                            </p>
                        </div>
                        <div class="box-checkbox mb-30">
                            <h6>User Accounts</h6>
                            <p class="font-md color-text-paragraph-2">
                                You may be required to create a user account to access certain features of our platform. You are responsible for maintaining
                                the confidentiality of your account credentials and for any activities that occur under your account.
                            </p>
                        </div>
                        <div class="box-checkbox mb-30">
                            <h6>Use of Content</h6>
                            <p class="font-md color-text-paragraph-2">
                                We employ industry-standard security measures to protect your personal information from unauthorized access,
                                disclosure, alteration, or destruction.
                                However, please note that no method of transmission over the internet or electronic storage is 100% secure.
                            </p>
                        </div>
                        <div class="box-checkbox mb-30">
                            <h6>User Conduct</h6>
                            <p class="font-md color-text-paragraph-2">
                                You agree to use our platform in accordance with all applicable laws and regulations. You may not engage in any conduct
                                that violates the rights of others or interferes with the operation of our platform.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-80">
        <div class="container">
            <div class="box-info-contact">
                <div class="row">
                    <div class="text-center">
                        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Contact Us</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30 ml-50">
                        <a href="#"><h6>Location</h6></a>
                        <div class="font-sm color-text-paragraph">Rongai Plaza 2nd Floor Rm 101</div><a class="text-uppercase color-brand-2 link-map" href="#"></a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30 ml-50">
                        <h6>Email</h6>
                        <p class="font-sm color-text-paragraph mb-20">info@seekershub.co.ke</p>
                        @*<h6>New York</h6>
                        <p class="font-sm color-text-paragraph mb-20">4517 Washington Ave.<br class="d-none d-lg-block"> Manchester, Kentucky 39495</p>*@
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30 ml-50">
                        <h6>Phone Number</h6>
                        <p class="font-sm color-text-paragraph mb-20">
                            0711424105
                        </p>
                        @*<h6>San Francisco</h6>
                        <p class="font-sm color-text-paragraph mb-20">4140 Parker Rd. Allentown,<br class="d-none d-lg-block"> New Mexico 31134</p>*@
                    </div>
                    @*<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <h6>Sysney</h6>
                        <p class="font-sm color-text-paragraph mb-20">3891 Ranchview Dr. Richardson,<br class="d-none d-lg-block"> California 62639</p>
                        <h6>Singapore</h6>
                        <p class="font-sm color-text-paragraph mb-20">4140 Parker Rd. Allentown,<br class="d-none d-lg-block"> New Mexico 31134</p>
                    </div>*@
                </div>
            </div>
        </div>
    </section>

</main>