@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Body Content-->
<div id="page-content">
    <!--Home slider-->
    <div class="slideshow slideshow-wrapper pb-section">
        <div class="home-slideshow">
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload" data-src="/web-assets/images/slideshow-banners/home2-default-banner1.jpg" src="/web-assets/images/slideshow-banners/home2-default-banner1.jpg" alt="Shop Our New Collection" title="Shop Our New Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content middle">
                            <div class="container">
                                <div class="wrap-caption right">
                                    <h2 class="h1 mega-title slideshow__title">Our New Collection</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Save up to 50% Off</span>
                                    <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload" data-src="/web-assets/images/slideshow-banners/home2-default-banner2.jpg" src="/web-assets/images/slideshow-banners/home2-default-banner2.jpg" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content middle">
                            <div class="container">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Fashion &amp; Show</h2>
                                    <span class="mega-subtitle slideshow__subtitle">A World Fashion and Trendy Fashion Clother's</span>
                                    <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Home slider-->
    <div class="container">
        <div class="section-header text-center">
            <h2 class="h2">Weekly Bestseller</h2>
            <p>Our most popular products based on sales</p>
        </div>
        <div class="row" data-bind="with: viewModel">
            <!-- Sidebar -->
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar filterbar">
                <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                <div class="sidebar_tags">
                    <div style="display: flex; flex-direction: column;">
                        <!-- Sidebar images with Knockout.js bindings -->
                        <div data-bind="foreach: sortedImages">
                            <img data-bind="attr: { src: src, alt: alt, title: title }" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!-- Main Content -->
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                <div class="productList product-load-more">
                    <div class="grid-products grid--view-items">
                        <div class="row" data-bind="foreach: products">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                                <div class="product-image">
                                    <a href="views/viewProduct">
                                        <img class="primary lazyload" data-bind="attr: { 'data-src': primaryImage, src: primaryImage, alt: title, title: title }">
                                        <img class="hover lazyload" data-bind="attr: { 'data-src': hoverImage, src: hoverImage, alt: title, title: title }">
                                    </a>
                                    <form class="variants add" action="#">
                                        <button class="btn btn-addto-cart" type="button" data-bind="click: $parent.addToCart">Add To Cart</button>
                                    </form>
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-name">
                                        <a href="#" data-bind="text: title"></a>
                                    </div>
                                    <div class="product-price">
                                        <span class="old-price" data-bind="text: oldPrice"></span>
                                        <span class="price" data-bind="text: price"></span>
                                    </div>
                                    <div class="product-review">
                                        <!-- Simplified the repeat binding for stars -->
                                        <!-- We can use a loop to generate the star elements in JavaScript if needed -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Repeat for other products -->
                    </div>
                </div>
            </div>
            <!-- End Main Content -->
        </div>




    </div>
    <!--Parallax Section-->
    <div class="section">
        <div class="hero hero--large hero__overlay bg-size">
            <img class="bg-img" src="/web-assets/images/parallax-banners/parallax-banner.jpg" alt="" />
            <div class="hero__inner">
                <div class="container">
                    <div class="wrap-text left text-small font-bold">
                        <h2 class="h2 mega-title">Lukurare <br> The best choice for your store</h2>
                        <div class="rte-setting mega-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                        <a href="#" class="btn">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Parallax Section-->
    <script>

    </script>

    <!--Logo Slider-->
    <div class="section logo-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">The Most Loved Brands</h2>
                    </div>
                    <div class="logo-bar">
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo1.png" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo2.png" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo3.png" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo4.png" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo5.png" alt="" title="" />
                        </div>
                        <div class="logo-bar__item">
                            <img src="/web-assets/images/logo/brandlogo6.png" alt="" title="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Logo Slider-->
</div>
<!--End Body Content-->


@section Scripts{
    <!-- Including Jquery -->
    <script src="/web-assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/web-assets/js/vendor/jquery.cookie.js"></script>
    <script src="/web-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/web-assets/js/vendor/wow.min.js"></script>
    <script src="/js/index.js"></script>
}