@page
@model Lukurare.Pages.User.ProjectDetailsModel
@{
    Layout = "/Pages/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Project Details";
}
<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-image-single"><img src="/assets/imgs/page/job-single/thumb.png" alt="Lukurare"></div>
            <div class="row mt-10">
                <div class="col-lg-8 col-md-12">
                    <h3 data-bind="text: projectName"></h3>
                    @*<div class="mt-0 mb-15"><span class="card-briefcase">Fulltime</span><span class="card-time">3 mins ago</span></div>*@
                </div>
                <div class="col-lg-4 col-md-12 text-lg-end mt-10">
                    <a class="btn btn-apply-icon btn-apply btn-apply-big hover-up" data-bind="click: submitApplication">Apply now</a>
                </div>
                <div id="alertArea8" class="alert" role="alert" style="display: none; width: 40%; margin: 0 auto;"></div>
            </div>
            <div class="border-bottom pt-10 pb-10"></div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="job-overview">
                        <h5 class="border-bottom pb-15 mb-30">Project Details</h5>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/industry.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description industry-icon mb-10">Industry</span><strong class="small-heading" data-bind="text: projectCategory"></strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/job-level.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description joblevel-icon mb-10">Open Positions</span><strong class="small-heading" data-bind="text: openPosition"></strong></div>
                            </div>
                        </div>                       
                        <div class="row mt-25">
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/job-type.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10 mr-30">Recommendation</span><strong class="small-heading" data-bind="text: projectRecommendation"></strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/deadline.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Project End Date</span><strong class="small-heading" data-bind="text: projectEnd"></strong></div>
                            </div>
                        </div>
                        <div class="row mt-25">
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/updated.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">Project Start Date</span><strong class="small-heading" data-bind="text: projectStart"></strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="/assets/imgs/page/job-single/location.svg" alt="Lukurare"></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Location</span><strong class="small-heading" data-bind="text: CompanyLocation"></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-single">
                        <h4>Project Details</h4>
                        <p data-bind="text: projectDetails"></p>                       
                        <h4>Scope of Work</h4>
                        <p data-bind="html: workScope"></p>

                    </div>

                </div>
               
            </div>
        </div>
    </section>    
</main>

@section Scripts{
    <script src="/assets/js/companies/companies.js"></script>
}