@page
@model SeekersHub.Pages.Admin.ProjectsModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Projects";
}

<main class="main">
    <div class="nav">
        <a class="btn btn-expanded"></a>
        <nav class="nav-main-menu">
            <ul class="main-menu">
                @*<li>
            <a class='dashboard2 active' href='index.html'><img src="/Admin/assets/imgs/page/dashboard/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a>
        </li>*@
                <li>
                    <a class='dashboard2 active' href='/Admin/Candidates'><img src="/Admin/assets/imgs/page/dashboard/candidates.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
                </li>
                <li>
                    <a class='dashboard2' href='/Admin/Companies'><img src="/Admin/assets/imgs/page/dashboard/recruiters.svg" alt="SeekersHub"><span class="name">Companies</span></a>
                </li>
                <li>
                    <a class='dashboard2' href='/Admin/Projects'><img src="/Admin/assets/imgs/page/dashboard/jobs.svg" alt="SeekersHub"><span class="name">Projects</span></a>
                </li>
                <li>
                    <a class='dashboard2' href='/Admin/Applications'><img src="/Admin/assets/imgs/page/dashboard/jobs.svg" alt="SeekersHub"><span class="name">Applications</span></a>
                </li>
                @*<li>
            <a class='dashboard2' href='my-job-grid.html'><img src="/Admin/assets/imgs/page/dashboard/jobs.svg" alt="jobBox"><span class="name">Projects</span></a>
        </li>*@

                <li>
                    <a class='dashboard2' href='#'><img src="/Admin/assets/imgs/page/dashboard/logout.svg" onclick="logOutUser();" alt="SeekersHub"><span class="name">Logout</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <div class="text-center"><h3>SeekersHub</h3></div>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            <ul class="main-menu">
                                @*<li>
            <a class='dashboard2 active' href='/Admin/Candidates'><img src="/assets/imgs/page/dashboard/dashboard.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
        </li>*@
                                <li>
                                    <a class='dashboard2' href='/Admin/Candidates'><img src="/assets/imgs/page/dashboard/candidates.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
                                </li>
                                <li>
                                    <a class='dashboard2' href='/Admin/Companies'><img src="/assets/imgs/page/dashboard/recruiters.svg" alt="SeekersHub"><span class="name">Companies</span></a>
                                </li>
                                <li>
                                    <a class='dashboard2' href='/Admin/Projects'><img src="/assets/imgs/page/dashboard/jobs.svg" alt="SeekersHub"><span class="name">Projects</span></a>
                                </li>
                                <li>
                                    <a class='dashboard2' href='/Admin/Applications'><img src="/Admin/assets/imgs/page/dashboard/tasks.svg" alt="SeekersHub"><span class="name">Applications</span></a>
                                </li>
                                @*<li>
            <a class='dashboard2' href='my-tasks-list.html'><img src="assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
        </li>
        <li>
            <a class='dashboard2' href='profile.html'><img src="assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
        </li>
        <li>
            <a class='dashboard2' href='my-resume.html'><img src="assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
        </li>
        <li>
            <a class='dashboard2' href='settings.html'><img src="assets/imgs/page/dashboard/settings.svg" alt="jobBox"><span class="name">Setting</span></a>
        </li>
        <li>
            <a class='dashboard2' href='authentication.html'><img src="assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
        </li>*@
                                <li>
                                    <a class='dashboard2' onclick="logOutUser();"><img src="/assets/imgs/page/dashboard/logout.svg" alt="SeekersHub"><span class="name">Logout</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @*<div class="mobile-account">
                            <h6 class="mb-10">Your Account</h6>
                            <ul class="mobile-menu font-heading">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Work Preferences</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li><a href="#">Go Pro</a></li>
                                <li><a href="page-signin.html">Sign Out</a></li>
                            </ul>
                            <div class="mb-15 mt-15"> <a class='btn btn-default icon-edit hover-up' href='post-job.html'>Post Job</a></div>
                        </div>*@
                    <div class="site-copyright">Copyright 2022 &copy; SeekersHub.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-content">
        <div class="box-heading">
            <div class="box-title">
                <h3 class="mb-35">Projects</h3>
            </div>
            <div class="box-breadcrumb">
                <div class="breadcrumbs">
                    <ul>
                        <li> <a class='icon-home' href='index.html'>Admin</a></li>
                        <li><span>Projects</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="section-box">
                <div class="container">
                    <div class="panel-white mb-30">
                        <div class="box-padding">
                            <div class="box-filters-job">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-5">                                    
                                        <span class="text-small text-showing">
                                            Showing
                                            <strong data-bind="text: currentPage() * projectsPerPage() - projectsPerPage() + 1"></strong>-
                                            <strong data-bind="text: Math.min(currentPage() * projectsPerPage(), AllProjects().length)"></strong>
                                            of
                                            <strong data-bind="text: AllProjects().length"></strong>
                                            Projects
                                        </span>                                    
                                    </div>
                                    <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                                        <div class="display-flex2">
                                            <div class="box-border mr-10">
                                                <span class="text-sortby">Show:</span>
                                                <div class="dropdown dropdown-sort">
                                                    <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                                        <span data-bind="text: projectsPerPage"></span>
                                                        <i class="fi-rr-angle-small-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort">
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { projectsPerPage(5); }">5</a></li>
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { projectsPerPage(10); }">10</a></li>
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { projectsPerPage(12); }">12</a></li>
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { projectsPerPage(20); }">20</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="box-border">
                                                <span class="text-sortby">Sort by:</span>
                                                <div class="dropdown dropdown-sort">
                                                    <button class="btn dropdown-toggle" id="dropdownSort2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                                        <span data-bind="text: currentSortOrder"></span>
                                                        <i class="fi-rr-angle-small-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { currentSortOrder('Newest Project'); }">Newest Project</a></li>
                                                        <li><a class="dropdown-item" href="#" data-bind="click: function() { currentSortOrder('Oldest Project'); }">Oldest Project</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div id="alertAreaProjects" class="alert" role="alert" style="display: none;"></div>
                            </div>
                            <div class="row" data-bind="foreach: projectsOnCurrentPage">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                                    <div class="card-grid-1 hover-up wow animate__animated animate__fadeIn">
                                        <div class="image-box"><a href="#"><img data-bind="attr: { src: CompanyProfileImage }" style="width:50%;height:50%;" alt="SeekersHub"></a></div>
                                        <div class="info-text mt-10">
                                            <h5 class="font-bold"><a href="#" data-bind="text: ProjectName"></a></h5>
                                            <div class="mt-10 mb-10">
                                                <span class="card-location" data-bind="text: CompanyLocation"></span>
                                            </div>
                                            <div data-bind="attr: { id: 'alertArea' + $index() }" class="alert" role="alert" style="display: none;"></div>
                                            <div class="row">
                                                <div class="d-flex justify-content-center">
                                                    <a class="btn btn-apply-now" href="#" data-bind="click: function() { $parent.viewProject($data, $index()); }">View Project</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paginations">
                                <ul class="pager">
                                    <li><a class="pager-prev" href="#"></a></li>
                                    <!-- ko foreach: new Array(Math.ceil(AllProjects().length / projectsPerPage())) -->
                                    <li><a class="pager-number" data-bind="text: $index() + 1, click: function() { $parent.goToPage($index() + 1); }"></a></li>
                                    <!-- /ko -->
                                    <li><a class="pager-next" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</main>

@section Scripts{
    <script src="/assets/js/companies/companies.js"></script>
}

