@page
@model SeekersHub.Pages.Companies.ProjectDetailsModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Project Details";
}

<main class="main">
    <div class="nav">
        <a class="btn btn-expanded"></a>
        <nav class="nav-main-menu">
            <ul class="main-menu">
                @*<li>
                        <a class='dashboard2 active' href='index.html'><img src="/Admin/assets/imgs/page/dashboard/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a>
                    </li>*@
                <li>
                    <a class='dashboard2 active' href='/Admin/Candidates'><img src="/Admin/assets/imgs/page/dashboard/candidates.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
                </li>
                <li>
                    <a class='dashboard2' href='/Admin/Companies'><img src="/Admin/assets/imgs/page/dashboard/recruiters.svg" alt="SeekersHub"><span class="name">Companies</span></a>
                </li>
                <li>
                    <a class='dashboard2' href='/Admin/Projects'><img src="/Admin/assets/imgs/page/dashboard/jobs.svg" alt="SeekersHub"><span class="name">Projects</span></a>
                </li>
                @*<li>
                        <a class='dashboard2' href='my-tasks-list.html'><img src="/Admin/assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
                    </li>
                    <li>
                        <a class='dashboard2' href='profile.html'><img src="/Admin/assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
                    </li>
                    <li>
                        <a class='dashboard2' href='my-resume.html'><img src="/Admin/assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
                    </li>
                    <li>
                        <a class='dashboard2' href='settings.html'><img src="/Admin/assets/imgs/page/dashboard/settings.svg" alt="jobBox"><span class="name">Setting</span></a>
                    </li>
                    <li>
                        <a class='dashboard2' href='authentication.html'><img src="/Admin/assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
                    </li>*@
                <li>
                    <a class='dashboard2' href='#'><img src="/Admin/assets/imgs/page/dashboard/logout.svg" alt="jobBox"><span class="name">Logout</span></a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <div class="text-center"><h3>SeekersHub</h3></div>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            <ul class="main-menu">
                                @*<li>
                                        <a class='dashboard2 active' href='/Admin/Candidates'><img src="/assets/imgs/page/dashboard/dashboard.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
                                    </li>*@
                                <li>
                                    <a class='dashboard2' href='/Admin/Candidates'><img src="/assets/imgs/page/dashboard/candidates.svg" alt="SeekersHub"><span class="name">Candidates</span></a>
                                </li>
                                <li>
                                    <a class='dashboard2' href='/Admin/Companies'><img src="/assets/imgs/page/dashboard/recruiters.svg" alt="SeekersHub"><span class="name">Companies</span></a>
                                </li>
                                <li>
                                    <a class='dashboard2' href='/Admin/Projects'><img src="/assets/imgs/page/dashboard/jobs.svg" alt="SeekersHub"><span class="name">Projects</span></a>
                                </li>
                                @*<li>
                                        <a class='dashboard2' href='my-tasks-list.html'><img src="assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
                                    </li>
                                    <li>
                                        <a class='dashboard2' href='profile.html'><img src="assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
                                    </li>
                                    <li>
                                        <a class='dashboard2' href='my-resume.html'><img src="assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
                                    </li>
                                    <li>
                                        <a class='dashboard2' href='settings.html'><img src="assets/imgs/page/dashboard/settings.svg" alt="jobBox"><span class="name">Setting</span></a>
                                    </li>
                                    <li>
                                        <a class='dashboard2' href='authentication.html'><img src="assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
                                    </li>*@
                                <li>
                                    <a class='dashboard2' href='#'><img src="/assets/imgs/page/dashboard/logout.svg" alt="SeekersHub" onclick="logOutUser();"><span class="name">Logout</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @*<div class="mobile-account">
                            <h6 class="mb-10">Your Account</h6>
                            <ul class="mobile-menu font-heading">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Work Preferences</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li><a href="#">Go Pro</a></li>
                                <li><a href="page-signin.html">Sign Out</a></li>
                            </ul>
                            <div class="mb-15 mt-15"> <a class='btn btn-default icon-edit hover-up' href='post-job.html'>Post Job</a></div>
                        </div>*@
                    <div class="site-copyright">Copyright 2022 &copy; SeekersHub.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-content">
        <div class="box-heading">
            <div class="box-title">
                <h3 class="mb-35">Project Details</h3>
            </div>
            <div class="box-breadcrumb">
                <div class="breadcrumbs">
                    <ul>
                        <li> <a class='icon-home' href='index.html'>Admin</a></li>
                        <li><span>Project Details</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-8">
                <div class="section-box">
                    <div class="container">
                        <div class="panel-white mb-30">
                            <div class="box-padding">
                                <h6 class="color-text-paragraph-2">Project Details</h6>
                                <div class="box-profile-image">
                                    <div class="img-profile"> <img data-bind="attr: { src: EntityProfileImage }" alt="SeekersHub"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Name *</label>
                                            <input class="form-control" type="text" data-bind="value: projectName, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Category *</label>
                                            <input class="form-control" type="text" data-bind="value: projectCategory, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Start Date</label>
                                            <input class="form-control" type="text" data-bind="value: projectStart, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project End Date</label>
                                            <input class="form-control" type="text" data-bind="value: projectEnd, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Number of Open Positions</label>
                                            <input class="form-control" type="text" data-bind="value: openPosition, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Recommendation</label>
                                            <input class="form-control" type="text" data-bind="value: projectRecommendation, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Details</label>
                                            <textarea class="form-control" name="message" rows="5" data-bind="text: projectDetails, attr: { readonly: true }"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Project Scope</label>
                                            <textarea class="form-control" name="message" rows="5" data-bind="text: workScope, attr: { readonly: true }"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4">
                <div class="section-box">
                    <div class="container">
                        <div class="panel-white">
                            <div class="panel-head">
                                <h5>Company Information</h5><a class="menudrop" id="dropdownMenu3" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu3">
                                    <li><a class="dropdown-item active" href="#">Add new</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Actions</a></li>
                                </ul>
                            </div>
                            <div class="panel-body pt-20">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Company Name</label>
                                            <input class="form-control" type="text" data-bind="value: EntityName, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Location</label>
                                            <input class="form-control" type="text" data-bind="value: CompanyLocation, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Phone Number</label>
                                            <input class="form-control" type="text" data-bind="value: EntityPhone, attr: { readonly: true }">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-30">
                                            <label class="font-sm color-text-mutted mb-10">Email</label>
                                            <input class="form-control" type="text" data-bind="value: EntityEmail, attr: { readonly: true }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>

@section Scripts{
<script src="/assets/js/companies/companies.js"></script>
}