@page
@model SeekersHub.Pages.Companies.CompanyProfileModel
@{
    Layout = "/Pages/Shared/_CompaniesLayout.cshtml";
    ViewData["Title"] = "Company Profile";
}

<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-image-single"><img src="/assets/imgs/page/candidates/img.png" alt="SeekersHub"><a class="btn-editor" href="#"></a></div>
            <div class="box-company-profile">
                <div class="image-compay"><img data-bind="attr: { src: PhotoLinkUrl}" alt="SeekersHub" style="width: 100px; height: 100px;"></div>
                <div class="row mt-10">
                    <div class="col-lg-8 col-md-12">
                        <h5 class="f-18" data-bind="text: Brand"><span class="card-location font-regular ml-20" data-bind="text: Location"></span></h5>
                        @*<p class="mt-0 font-md color-text-paragraph-2 mb-15">UI/UX Designer. Front end Developer</p>*@
                    </div>
                    @*<div class="col-lg-4 col-md-12 text-lg-end"><a class='btn btn-preview-icon btn-apply btn-apply-big' href='page-contact.html'>Preview</a></div>*@
                </div>
            </div>
            <div class="border-bottom pt-10 pb-10"></div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="box-nav-tabs nav-tavs-profile mb-5">
                        <ul class="nav" role="tablist">
                            <li><a class="btn btn-border aboutus-icon mb-20 active" href="#tab-my-profile" data-bs-toggle="tab" role="tab" aria-controls="tab-my-profile" aria-selected="true">My Profile</a></li>
                            <li><a class="btn btn-border recruitment-icon mb-20" href="#tab-my-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-my-jobs" aria-selected="false">View Profile</a></li>
                        </ul>
                        <div class="border-bottom pt-10 pb-10"></div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-50">
                    <div class="content-single">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                                <h3 class="mt-0 mb-15 color-brand-1">My Account</h3><a class="font-md color-text-paragraph-2" href="#">Update your profile</a>
                                <div class="mt-35 mb-40 box-info-profie">
                                    <div class="image-profile">
                                        <img data-bind="attr: { src: PhotoLinkUrl}" alt="SeekersHub">
                                    </div>
                                    <!-- Add an input element of type file and hide it -->
                                    <input type="file" id="fileInput" style="display: none;">
                                    <!-- Modify the button to trigger the input element when clicked -->
                                    <a class="btn btn-apply" id="chooseAndUploadBtn">Upload Avatar</a>
                                    <!-- <a class="btn btn-link">Delete</a> -->
                                </div>
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="companyOverviewCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Company Overview</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="mission">Mission Statement</label>
                                                            <textarea class="form-control" id="mission-statement" rows="3" placeholder="Enter your Mission Statement" data-bind="value: mission"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="vision">Vision</label>
                                                            <textarea class="form-control" id="vision" rows="3" placeholder="Enter your Vision" data-bind="value: vision"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="core-values">Core Values</label>
                                                            <textarea class="form-control" id="core-values" rows="3" placeholder="Enter your Core Values" data-bind="value: coreValues"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="history">History and Background</label>
                                                            <textarea class="form-control" id="history" rows="3" placeholder="Enter your History and Background" data-bind="value: history"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" class="btn btn-primary" data-bind="click: companyOverview">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="initiativeCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Projects and Initiatives</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Description of Ongoing Projects</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe your Ongoing Projects" data-bind="value: ongoingProjects"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Past Projects Completed</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe your Past Projects" data-bind="value: pastProjects"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="volunteer-work">Technologies or Tools Used</label>
                                                            <textarea class="form-control" id="volunteer-work" rows="3" placeholder="Describe the Technologies or Tools used" data-bind="value: projectTechnologies"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: companyProjects" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="internshipCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Internship Type</h5>
                                                    <form>
                                                        <!-- Availability for Internships -->
                                                        <div class="form-group">
                                                            <label for="internshipAvailability">Select the Type of Internship you Offer</label>
                                                            <select class="form-control" id="internshipAvailability" data-bind="value: internships">
                                                                <option selected>Choose...</option>
                                                                <option value="Full-time">Full-Time</option>
                                                                <option value="Part-time">Part-Time</option>
                                                                <option value="Summer">Summer Internship</option>
                                                                <option value="Remote">Remote</option>
                                                                <option value="On-site">On-site</option>
                                                                <option value="Paid">Paid</option>
                                                                <option value="Unpaid">Unpaid</option>
                                                                <option value="Year-round">Year-round Internship</option>
                                                            </select>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: internshipType" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="coreCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Core Competencies</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Areas of Expertise</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe your Areas of Expertise" data-bind="value: expertise"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Specializations</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe your Specializations" data-bind="value: specialization"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: coreCompetencies" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="cultureCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Company Culture</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Work Environment</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe your Work Environment" data-bind="value: workEnvironment"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Company Values and Culture</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe your Company Values and Culture" data-bind="value: companyValues"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: companyCulture" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="technologyCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Technological Capabilities</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Technologies Used or Developed</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe the Technologies you have Used Or Developed" data-bind="value: usedTechnologies"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Innovation Initiatives</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe your Innovation Initiatives" data-bind="value: innovation"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: technology" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="socialCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Corporate Social Responsibility (CSR)</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">CSR Initiatives or Programs</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe your CSR Initiatives or Programs" data-bind="value: programs"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Environmental Sustainability Efforts</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe your Environmental Sustainability Efforts" data-bind="value: environmentalEfforts"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: social" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="awardCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Awards and Recognition</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Industry Awards</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe Industry Awards you have attained" data-bind="value: awards"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Certifications</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe any Certifications you have attained" data-bind="value: certifications"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: industryAwards" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="opportunityCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Career Opportunities</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Internship Programs</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe Internship Programs you offer" data-bind="value: internshipPrograms"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Job Openings</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe any Job Openings you have" data-bind="value: jobs"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Opportunities for Career Growth and Development</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe any Opportunities for Career Growth and Development you have" data-bind="value: careerOpportunities"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: career" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="internCard">
                                                <div class="card-body">
                                                    <h5 class="card-title">Preferred Intern Profile</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="internships">Desired Skills and Qualifications in Interns</label>
                                                            <textarea class="form-control" id="internships" rows="3" placeholder="Describe the Skills or Qualifications you require from Interns" data-bind="value: desiredSkill"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="part-time-jobs">Characteristics or Traits sought in Interns</label>
                                                            <textarea class="form-control" id="part-time-jobs" rows="3" placeholder="Describe the Character Traits you require from Interns" data-bind="value: internsTraits"></textarea>
                                                        </div>
                                                        <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                                                        <button type="submit" data-bind="click: internProfile" class="btn btn-primary mt-3">Submit</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="col-xl-12 col-12">
                                            <div class="card mb-3" id="successMessage">
                                                <div class="card-body">
                                                    <h5 class="card-title">Congratulations</h5>
                                                    <!-- Add a success message here -->
                                                    <div class="alert alert-success mt-3">
                                                        <strong>Success!</strong> Your Company Profile has been updated successfully.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-my-jobs" role="tabpanel" aria-labelledby="tab-my-jobs">
                                <h3 class="mt-0 color-brand-1 mb-50">My Profile</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Career Opportunities</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Internship Programs</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: internshipPrograms, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Job Openings</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: jobs, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Opportunities for Career Growth and Development</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: careerOpportunities, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea9" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editCareer, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Projects and Initiatives</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Description of Ongoing Projects</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: ongoingProjects, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Past Projects Completed</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: pastProjects, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Technologies or Tools Used</label>
                                                    <input class="form-control" type="text" value="" data-bind="value: projectTechnologies, attr: { readonly: !isEditing() }">
                                                </div>
                                                <div id="alertArea2" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editCompanyProjects, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Core Competencies</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Areas of Expertise</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: expertise, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Specializations</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: specialization, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea4" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editCoreCompetencies, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Company Culture</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Work Environment</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: workEnvironment, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Company Values and Culture</label>
                                                    <input class="form-control" type="text" value="" data-bind="value: companyValues, attr: { readonly: !isEditing() }">
                                                </div>
                                                <div id="alertArea5" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editCompanyCulture, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Technological Capabilities</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Technologies Used or Developed</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: usedTechnologies, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Innovation Initiatives</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: innovation, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea6" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editTechnology, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Corporate Social Responsibility (CSR)</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">CSR Initiatives or Programs</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: programs, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Environmental Sustainability Efforts</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: environmentalEfforts, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea7" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editSocial, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Awards and Recognition</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Industry Awards</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: awards, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Certifications</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: certifications, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea8" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editIndustryAwards, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Preferred Intern Profile</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Desired Skills and Qualifications in Interns</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: desiredSkill, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Characteristics or Traits sought in Interns</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: internsTraits, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea10" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editInternProfile, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Company Overview</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Mission Statement</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: mission, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Vision</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: vision, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Core Values</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: coreValues, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">History and Background</label>
                                                    <textarea class="form-control" type="text" value="" data-bind="value: history, attr: { readonly: !isEditing() }"></textarea>
                                                </div>
                                                <div id="alertArea1" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editCompanyOverview, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12" data-bind="with: new Card()">
                                        <div class="box-skills">
                                            <h5 class="mt-0 color-brand-1">Internship Type</h5>
                                            <div class="form-contact">
                                                <div class="form-group">
                                                    <label class="font-sm mb-10">Internship Type you Offer</label>
                                                    <input class="form-control" type="text" value="" data-bind="value: internships, attr: { readonly: !isEditing() }" />
                                                </div>
                                                <div id="alertArea3" class="alert" role="alert" style="display: none;"></div>
                                                <div class="row">
                                                    <button type="submit" class="btn btn-primary ml-130" style="width:30%" data-bind="click: edit, visible: !isEditing()">Edit</button>
                                                    <button type="submit" class="btn btn-success ml-130" style="width:30%" data-bind="click: editInternshipType, visible: isEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

@section Scripts{
    <script src="/assets/js/companies/companies.js"></script>
    <script src="/Companies/authenticationHelper.js"></script>
}