@page
@model SeekersHub.Pages.Companies.CompanyCandidatesModel
@{
    Layout = "/Pages/Shared/_CompaniesLayout.cshtml";
    ViewData["Title"] = "Candidates";
}

<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-company">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">Explore Your Talent Pool</h3>
                    <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Discover the list of talented candidates assigned to your esteemed organization</div>
                    <div class="box-list-character">
                        <ul>
                            <li><a class="active" href="#">A</a></li>
                            <li><a href="#">B</a></li>
                            <li><a href="#">C</a></li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">E</a></li>
                            <li><a href="#">F</a></li>
                            <li><a href="#">G</a></li>
                            <li><a href="#">H</a></li>
                            <li><a href="#">I</a></li>
                            <li><a href="#">J</a></li>
                            <li><a href="#">K</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">N</a></li>
                            <li><a href="#">O</a></li>
                            <li><a href="#">P</a></li>
                            <li><a href="#">Q</a></li>
                            <li><a href="#">R</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">T</a></li>
                            <li><a href="#">U</a></li>
                            <li><a href="#">V</a></li>
                            <li><a href="#">W</a></li>
                            <li><a href="#">X</a></li>
                            <li><a href="#">Y</a></li>
                            <li><a href="#">Z</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="content-page">
                <div class="box-filters-job">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            @*<span class="text-small text-showing">Showing <strong>41-60 </strong>of <strong>944 </strong> Candidates</span>*@
                            <span class="text-small text-showing">
                                Showing
                                <strong data-bind="text: currentPage() * candidatesPerPage() - candidatesPerPage() + 1"></strong>-
                                <strong data-bind="text: Math.min(currentPage() * candidatesPerPage(), Candidates().length)"></strong>
                                of
                                <strong data-bind="text: Candidates().length"></strong>
                                Candidates
                            </span>
                        </div>
                        <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                            <div class="display-flex2">
                                <div class="box-border mr-10">
                                    <span class="text-sortby">Show:</span>
                                    <div class="dropdown dropdown-sort">
                                        <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                        <span data-bind="text: candidatesPerPage"></span>
                                        <i class="fi-rr-angle-small-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort">
                                            <li><a class="dropdown-item" href="#" data-bind="click: function() { candidatesPerPage(5); }">5</a></li>
                                            <li><a class="dropdown-item" href="#" data-bind="click: function() { candidatesPerPage(10); }">10</a></li>
                                            <li><a class="dropdown-item" href="#" data-bind="click: function() { candidatesPerPage(12); }">12</a></li>
                                            <li><a class="dropdown-item" href="#" data-bind="click: function() { candidatesPerPage(20); }">20</a></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="box-border">
                                    <span class="text-sortby">Sort by:</span>
                                    <div class="dropdown dropdown-sort">
                                        <button class="btn dropdown-toggle" id="dropdownSort2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"><span>Newest Candidates</span><i class="fi-rr-angle-small-down"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                                            <li><a class="dropdown-item active" href="#">Newest Candidates</a></li>
                                            <li><a class="dropdown-item" href="#">Oldest Candidates</a></li>                                            
                                        </ul>
                                    </div>
                                </div>*@
                                <div class="box-view-type"><a class='view-type' href='#'><img src="/assets/imgs/template/icons/icon-list.svg" alt="SeekersHub"></a><a class='view-type' href='#'><img src="/assets/imgs/template/icons/icon-grid-hover.svg" alt="SeekersHub"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="foreach: candidatesOnCurrentPage">                    
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-grid-2 hover-up">
                            <div class="card-grid-2-image-left">
                                <div class="card-grid-2-image-rd online">
                                    <a href='candidate-details.html'>
                                        <figure><img alt="SeekersHub" data-bind="attr: { src: CandidateProfileImage }"></figure>
                                    </a>
                                </div>
                                <div class="card-profile pt-10">
                                    <a href='candidate-details.html'>
                                        <h5 data-bind="text: CandidateName"></h5>
                                    </a>
                                </div>
                            </div>
                            <div class="card-block-info">
                                <div class="employers-info align-items-center justify-content-center mt-15">
                                    <div class="row">
                                        <div class="col-12"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted" data-bind="text: CandidateLocation"></span></span></div>
                                    </div>
                                </div>
                                <div data-bind="attr: { id: 'alertArea' + $index() }" class="alert" role="alert" style="display: none;"></div>
                                <div class="d-flex justify-content-center mt-3">
                                    <a href="#" data-bind="click: function() { $parent.viewProfile($data, $index()); }" class="btn btn-primary" style="color: white;">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="paginations">
                <ul class="pager">
                    <li><a class="pager-prev" href="#"></a></li>
                    <!-- ko foreach: new Array(Math.ceil(Candidates().length / candidatesPerPage())) -->
                    <li><a class="pager-number" data-bind="text: $index() + 1, click: function() { $parent.goToPage($index() + 1); }"></a></li>
                    <!-- /ko -->
                    <li><a class="pager-next" href="#"></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="/assets/js/companies/companies.js"></script>
}