@page
@model SeekersHub.Pages.Companies.PostProjectModel
@{
    Layout = "/Pages/Shared/_CompaniesLayout.cshtml";
    ViewData["Title"] = "Post Project";
}

<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-company">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp">Post Your Project</h3>
                    <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Share the details of your project and find the right candidates</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    @*<span class="font-md color-brand-2 mt-20 d-inline-block">Post a Project</span>*@
                    <h2 class="mt-5 mb-10">Post your Project</h2>
                    @*<p class="font-md color-text-paragraph-2">Share the details of your project and find the right candidates.</p>*@
                <form class="post-project-form text-start mt-20 pb-30" action="#">
                    <div class="form-group">
                        <label class="form-label" for="category">Category *</label>
                        <select class="form-control" id="industry" data-bind="value: projectCategory">
                            <option selected>Choose...</option>
                            <option value="Tech">Technology</option>
                            <option value="Finance">Finance</option>
                            <option value="Health">Healthcare</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Education">Education</option>
                            <option value="Hospitality">Hospitality</option>
                            <option value="Education">Education</option>
                            <option value="Nonprofit">Non-Profit</option>
                            <option value="Retail">Retail</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="category">Project Location</label>
                        <select class="form-control" id="industry" data-bind="value: projectLocation">
                            <option selected>Location...</option>
                            <option value="Mombasa">Mombasa</option>
                            <option value="Kwale">Kwale</option>
                            <option value="Kilifi">Kilifi</option>
                            <option value="Tana_river">Tana River</option>
                            <option value="Lamu">Lamu</option>
                            <option value="Taita_taveta">Taita-Taveta</option>
                            <option value="Garissa">Garissa</option>
                            <option value="Wajir">Wajir</option>
                            <option value="Mandera">Mandera</option>
                            <option value="Marsabit">Marsabit</option>
                            <option value="Isiolo">Isiolo</option>
                            <option value="Meru">Meru</option>
                            <option value="Tharaka_nithi">Tharaka-Nithi</option>
                            <option value="Embu">Embu</option>
                            <option value="Kitui">Kitui</option>
                            <option value="Machakos">Machakos</option>
                            <option value="Makueni">Makueni</option>
                            <option value="Nyandarua">Nyandarua</option>
                            <option value="Nyeri">Nyeri</option>
                            <option value="Kirinyaga">Kirinyaga</option>
                            <option value="Muranga">Murang'a</option>
                            <option value="Kiambu">Kiambu</option>
                            <option value="Turkana">Turkana</option>
                            <option value="West_pokot">West Pokot</option>
                            <option value="Samburu">Samburu</option>
                            <option value="Trans_nzoia">Trans-Nzoia</option>
                            <option value="Uasin_gishu">Uasin Gishu</option>
                            <option value="Elgeyo_marakwet">Elgeyo-Marakwet</option>
                            <option value="Nandi">Nandi</option>
                            <option value="Baringo">Baringo</option>
                            <option value="Laikipia">Laikipia</option>
                            <option value="Nakuru">Nakuru</option>
                            <option value="Narok">Narok</option>
                            <option value="Kajiado">Kajiado</option>
                            <option value="Kericho">Kericho</option>
                            <option value="Bomet">Bomet</option>
                            <option value="Kakamega">Kakamega</option>
                            <option value="Vihiga">Vihiga</option>
                            <option value="Bungoma">Bungoma</option>
                            <option value="Busia">Busia</option>
                            <option value="Siaya">Siaya</option>
                            <option value="Kisumu">Kisumu</option>
                            <option value="Homa_bay">Homa Bay</option>
                            <option value="Migori">Migori</option>
                            <option value="Kisii">Kisii</option>
                            <option value="Nyamira">Nyamira</option>
                            <option value="Nairobi">Nairobi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="category">Project Details *</label>
                        <textarea id="projectDetails" class="form-control" data-bind="value: projectDetails"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="category">Post As *</label>
                        <select class="form-control" id="industry" data-bind="value: postAs">
                            <option selected>Choose...</option>
                            <option value="Internship">Internship</option>
                            <option value="Job">Job</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectName">Name of Project</label>
                        <input type="text" id="projectName" class="form-control" placeholder="Tarmacking of Kisii-Keroka Road" data-bind="value: projectName">
                    </div>
                    <div class="form-group">
                        <label for="startDate">Expected Start Date</label>
                        <input type="datetime-local" id="startDate" class="form-control" data-bind="value: projectStart">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Expected End Date</label>
                        <input type="datetime-local" id="endDate" class="form-control" data-bind="value: projectEnd">
                    </div>
                    <div class="form-group">
                        <label for="openPositions">No of Open positions</label>
                        <input type="number" id="openPositions" class="form-control" data-bind="value: openPosition">
                    </div>
                    <div class="form-group">
                        <label for="recommendedFor">Recommended For</label>
                        <textarea id="recommendedFor" class="form-control" placeholder="Civil Engineering student, Building and Construction Students, Project Management Students" data-bind="value: projectRecommendation"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="scopeOfWork">Scope of Work</label>
                        <textarea id="scopeOfWork" class="form-control" data-bind="value: workScope"></textarea>
                    </div>
                    <!-- ... -->
                    <div id="alertArea" class="alert" role="alert" style="display: none;"></div>
                    <div class="form-group">
                        <button class="submit btn btn-send-message" type="submit" data-bind="click: submitCompanyProject">Post Project</button>
                    </div>
                </form>
                </div>
                <div class="col-lg-4 text-center d-none d-lg-block">
                    <img src="/assets/imgs/page/contact/img.png" alt="SeekersHub">
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts{
    <script src="/assets/js/companies/companies.js"></script>
}
