@page
@model Lukurare.Pages.AdminView.Dashboard.IndexModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}
@section Head {
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
}
<section id="basic-datatable">
    <!-- Section 4: required documents -->
    <div class="col-md-12">
        <div class="card shadow">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Upload Clothes Images :</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-12 mb-1">
                                    <div class="input-group">
                                        <input type="file" id="ImagePhoto" accept=".png, .jpg, .jpeg" class="form-control" data-bind="event:{change:setSelectedDocument}" />
                                    </div>                                   
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <h4 class="form-label" for="basicInput">PRODUCT NAME</h4>
                                        <input type="text" class="form-control" id="productNameInput" placeholder="Enter the name of the product" data-bind="value: productNameInput" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <h4 class="form-label" for="basicInput">PRODUCT SALE PRICE</h4>
                                        <input type="text" class="form-control" id="productPriceInput" placeholder="Enter the price" data-bind="value: productPriceInput" />
                                    </div>
                                </div>
                                <div class="d-flex col-lg-6 col-md-12 mb-1 mb-lg-0">
                                    <button type="button" class="btn btn-primary" data-bind="click: OnSubmit">submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
   
</section>

@* <section id="dashboard-ecommerce" data-bind="visible:AdminMenueVisible">
    <div class="row">
        <!-- Card 1: Meter Accounts -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title">Active Clients</h4>
                </div>
                <div class="card-body statistics-body">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-primary me-2">
                            <div class="avatar-content">
                                <i data-feather="trending-up" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="fw-bolder mb-0" data-bind="text:totalNumberofCustomers"></h4>
                            <p class="card-text font-small-3 mb-0">Total Number of client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2: Active Meters  Accounts -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title">Active Agents</h4>
                </div>
                <div class="card-body statistics-body">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-info me-2">
                            <div class="avatar-content">
                                <i data-feather="user" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="fw-bolder mb-0" data-bind="text:totalNumberofAgents"></h4>
                            <p class="card-text font-small-3 mb-0">Total Agents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3: Inactive Meters -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title"> Application Fees Collection</h4>
                </div>
                <div class="card-body statistics-body">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-danger me-2">
                            <div class="avatar-content">
                                <i data-feather="box" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="fw-bolder mb-0" data-bind="text:totalApplicationFeeCollection"></h4>
                            <p class="card-text font-small-3 mb-0">Total Application Fee Collection</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 4: Rent Accounts -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title">Retainer Fee Collection</h4>
                </div>
                <div class="card-body statistics-body">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-danger me-2">
                            <div class="avatar-content">
                                <i data-feather="box" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="fw-bolder mb-0" data-bind="text:totalRetainerFeeCollection"></h4>
                            <p class="card-text font-small-3 mb-0">Total Retainer Fee Collection</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 5: Active Rent Accounts -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title"> Other Payment Collection</h4>
                </div>
                <div class="card-body statistics-body">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-danger me-2">
                            <div class="avatar-content">
                                <i data-feather="box" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="fw-bolder mb-0" data-bind="text:totalOtherPaymentCollection"></h4>
                            <p class="card-text font-small-3 mb-0">Total other Payments Collection</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* <div class="row match-height">
    <!-- Revenue and Budget Report Card -->
    <div class="col-lg-12 col-md-12 col-12">
    <div class="card card-revenue-budget">
    <div class="row mx-0">
    <div class="col-md-12 revenue-report-wrapper">
    <!-- Update col-md-12 here -->
    <div class="d-sm-flex justify-content-between align-items-center mb-3">
    <h4 class="card-title mb-50 mb-sm-0">Total Collections Report</h4>
    <div class="d-flex align-items-center">
    </div>
    </div>
    <!-- Update the chart container with the id "totals-chart" -->
    <div id="networks-chart" style="height: 400px;">
    <!-- Bar and Line chart will be rendered here -->
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--/ Revenue and Budget Report Card -->
    </div> 

</section> *@
<!-- Dashboard Ecommerce ends -->
@section Scripts {
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="/app-assets/vendors/js/forms/cleave/cleave.min.js"></script>
    <script src="/app-assets/vendors/js/forms/cleave/addons/cleave-phone.us.js"></script>
    <script src="/Admin/js/index.js"></script>
}