.button-container {
    display: flex;
    background-color: rgba(115, 103, 240);
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(115, 103, 240, 0.5) 5px 10px 15px;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 999999999;
}

.floatbutton {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.text {
    position: relative;
    border-radius: 1.5px;
    bottom: 30px;
    right: 10px;
    background: #B47AF5;
    color: white;
    display: none;
    font-size: 12px;
    text-overflow: ellipsis;
    max-width: 70px;
    max-block-size: 70px;
}

.floatbutton:hover {
    transform: translateY(-3px);
}

.floatbutton:hover .text {
    display: block;
}

.icon {
    font-size: 20px;
}
.toast {
    display: flex;
    top: 0;
    right: 0;
}
.toast-body {
    display: flex;
}
.toast-body p {
    color: #5C53C1;
}
.toast-header {
    display: inline;
    /*background-color: #2980b9;  Header background color */
    color: #7367F0; /* Text color for header */
    font-weight: bold; /* Bold text for the header */
    margin: 2px;
    margin-bottom: 5px;
}

.toast-header strong {
    display: inline;
    margin-right: 1px; /* Adjust the margin between "New Chat From" and the text */
}

.toast-header p {
    margin: 0; /* Remove any default margins on the <p> element */
}

.chatNotificationContainer {
    position: relative;
    min-height: 200px;
    /*background-color: #3498db;  Change the background color to your preference */
    /*border-radius: 5px; Rounded corners for a modern look */
    /*border: 1px solid #2980b9;  Border with a slightly darker color */
}
.chatNotificationContainer {
    padding: 5px; /* Add padding to the container for spacing */
    margin: 5px; /* Add margin to create space between other elements */
}

.chatNotification {
    position:fixed;
    display:flex;
    top: 10px;
    right: 10px;
    z-index: 99999999;
}

/* chrome and safari styling scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

    /* Style for the scrollbar track when hovered */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

* {
    scrollbar-width: thin; /* Adjust as desired (thin, auto, none) */
    scrollbar-color: #888 #f0f0f0;
}

.chat-navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.chat-form {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
}