/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 34, 39, 0.5);
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 0px;
    border: 0px solid #888;
    width: 100%;
}
/*Chat Modal*/
/*div.chat-modal .chat-modal-dialog {
    display: none;
    position: fixed;
    z-index: 2000;*/
    /*margin: auto;*/
    /*right: 0;
    bottom: 10;
    width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.chat-modal .chat-modal-content {
    height: 100%;
    overflow-y: auto;
}
.chat-modal .chat-modal-body {
    padding: 15px 15px 80px;
}
.chat-modal.fade .chat-modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.chat-modal.fade.in .chat-modal-dialog {
    right: 0;
}*/
/* ----- MODAL STYLE ----- */
/*.chat-modal-content {
    border-radius: 0;
    border: none;
}*/


/* Close button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.card {
    width: 450px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: rgb(252, 248, 253);
    color: #fff;
    padding: 5px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-window {
    height: 220px;
    overflow-y: scroll;
}

.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: 400;
    padding: 5px;
    font-size: 14px;
}

.subject-input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 5px;
    font-size: 14px;
}

.send-button {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
}

    .send-button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }

button {
    position: relative;
    font-family: inherit;
    font-size: 10px;
    background: rgb(103, 39, 213);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
}

    button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }

    button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    button:hover span {
        transform: translateX(5em);
    }

    button:active {
        transform: scale(0.95);
    }

.upload {
    position: relative;
    left: 100px;
    top: -30px;
    cursor: pointer;
}

    .upload:hover {
        cursor: pointer;
    }

.input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

keyframes fly-1 {
    from

{
    transform: translateY(0.1em);
}

to {
    transform: translateY(-0.1em);
}
}

/*chat modal*/
/*.chat-app-window .user-chats {
    background-color: #f2f0f7;
    padding: 1rem;
    position: relative;
    height: calc(100% - 65px - 65px);
}

    .chat-app-window .user-chats .avatar img {
        border: 2px solid #fff;
    }

.chat-app-window .active-chat {
    height: inherit;
}

    .chat-app-window .active-chat .chat-header {
        display: flex;
        justify-content: space-between;
        height: 65px;
        background-color: #fff;
        padding: 0 1rem;
        border-bottom: 1px solid #ebe9f1;
    }

.chat-app-window .chats .chat-avatar {
    float: right;
}

.chat-app-window .chats .chat-body {
    display: block;
    margin: 10px 30px 0 0;
    overflow: hidden;
}

.chat-app-window .chats .chat-body .chat-content {
    float: right;
    padding: 0.7rem 1rem;
    margin: 0 1rem 10px 0;
    clear: both;
    color: #fff;
    background-image: linear-gradient(80deg, #7367f0, #9e95f5);
    border-radius: 0.357rem;
    box-shadow: 0 4px 8px 0 rgba(34, 41, 47, 0.12);
    max-width: 75%;
}

.chat-app-window .chats .chat-body .chat-content p {
    margin: 2;
    color: white;
}

.chat-app-window .chats .chat-left .chat-avatar {
    float: left;
    left:0;
}

.chat-app-window .chats .chat-left .chat-body .chat-content {
    float: left;
    margin: 0 0 10px 1rem;
    color: #6e6b7b;
    background: none;
    background-color: white;
}

.chat-app-window .chat-app-form {
    height: 65px;
    padding: 0 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-top: 1px solid #ebe9f1;
}

.chat-widget .card-header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.chat-widget .chat-app-window .user-chats {
    background-color: #f8f8f8;
    height: 390px;
}

.chat-widget .chat-app-window .chat-app-form {
    border-top: 0;
    border-bottom-left-radius: 0.357rem;
    border-bottom-right-radius: 0.357rem;
    height: 56px;
}

.chat-widget .chat-app-window .chat-app-form .input-group-text,
.chat-widget .chat-app-window .chat-app-form .message {
    border: 0;
    padding-left: 0;
}

.chat-widget .chat-app-window .chat-app-form .input-group:not(.bootstrap-touchspin):focus-within {
    box-shadow: none;
}

.each-chat {
    margin:4px;
    border-style:dashed;
}*/
/*END of chat modal*/