@page
@model SeekersHub.Pages.Authentication.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<main class="main">
    <section class="pt-100 login-register" id="reset_password_section">
        <div class="container">
            <div class="row login-register-cover">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="text-center">
                        @*<p class="font-sm text-brand-2">Forgot Password</p>*@
                        <h2 class="mt-10 mb-5 text-brand-1">Reset Your Password</h2>
                        <p class="font-sm text-muted mb-30">
                            Your new password must be different from previously used passwords
                        </p>
                    </div>
                    <form class="login-register text-start mt-20" action="#">
                        <div class="form-group">
                            <label class="form-label" for="input-1">OTP code Sent to your email *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="emaill" placeholder="OTP Code" data-bind="value:OtpCode">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">New Password *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="emaill" placeholder="New Password" data-bind="value:Password2">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-1">Confirm Password *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="emaill" placeholder="Confirm Password" data-bind="value:Password12">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-brand-1 hover-up w-100" type="submit" name="continue">Set New Password</button>
                        </div>
                        @*<div class="text-muted text-center">Don't have an Account? <a href='page-signin.html'>Sign up</a></div>*@
                    </form>
                </div>
                <div class="img-1 d-none d-lg-block"><img class="shape-1" src="assets/imgs/page/login-register/img-5.svg" alt="SeekersHub"></div>
                <div class="img-2"><img src="assets/imgs/page/login-register/img-3.svg" alt="SeekersHub"></div>
            </div>
        </div>
    </section>
</main>
@section Scripts{

    <script src="/assets/js/authentication/login.js"></script>

}
